$color-primary: #444;
$color-secondary: #AB4FB5;

$color-quality-poor: #9b9b9b !important;
$color-quality-common: #fffef4 !important;
$color-quality-uncommon: #11fc5f !important;
$color-quality-rare: #0281ff !important;
$color-quality-epic: #c600ff !important;
$color-quality-legendary: #ff8002 !important;
$color-quality-artifact: #e5cc80 !important;

$color-alliance: #0073AA;
$color-horde: #E60607;