<div class="container bd-content">
  <div class="dropzone" 
    bdDropZone
    (hovered)="toggleHover($event)"
    (dropped)="startUpload($event)"
    [class.hovering]="isHovering">
    
    <h4>Drag and Drop an Image</h4>

    <div class="file">
      <div class="file-field input-field">
          <button mz-button>
              <i mz-icon-mdi 
              [align]="'left'"
              [icon]="'upload'"
            >
            </i>
            <input type="file" (change)="startUpload($event.target.files)"/>
            or choose...
          </button>
      </div>
    </div>
  </div>

  <div *ngIf="percentage | async as pct" class="white-text">

      <mz-progress
      [backgroundClass]="'blue lighten-4'"
      [percentage]="pct"
      [progressClass]="'blue'">
    </mz-progress>

    {{ pct | number }}%

  </div>


  <div *ngIf="snapshot | async as snap" class="white-text">
    {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }} 

    <!-- <div *ngIf="post.imageUrl">
      <h3>Results!</h3>
      <img [src]="post.imageUrl"><br>
      <a [href]="post.imageUrl" target="_blank" rel="noopener">Download Me!</a>
    </div>  -->

    <!-- <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
    <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
    <button (click)="task.resume()" class="button is-info"   [disabled]="!(snap?.state === 'paused')">Resume</button> -->

  </div>

  <mz-card
  class="blue-grey darken-1 white-text"
  [hoverable]="true">

    <mz-card-title>
      Create a Progression Post
    </mz-card-title>
    <mz-card-content>
      <form novalidate (ngSubmit)="onSubmit()">
        <div class="row">
          <p *ngIf="post.imageUrl">Image uploaded!</p>
          <mz-input-container class="col s12">
              <input mz-input mz-validation required
                [label]="'Title'"
                name="title"
                id="title"
                type="text"
                [(ngModel)]="post.title" />
            </mz-input-container>
            <mz-datepicker-container class="col s12">
                <input mz-datepicker mz-validation required
                  name="date"
                  id="date"
                  type="text"
                  [options]="{ formatSubmit: 'mm-dd-yyyy' }"
                  [label]="'Kill Date'" 
                  [(ngModel)]="post.date"/>
            </mz-datepicker-container>
            <mz-textarea-container class="col s12">
              <textarea mz-textarea
                [label]="'Notes'"
                id="note"
                name="note"
                [(ngModel)]="post.note"></textarea>
            </mz-textarea-container>
            <mz-input-container class="col s12">
              <input mz-input
                [label]="'WarCraft Logs URL'"
                name="warcraftLogsUrl"
                id="warcraftLogsUrl"
                type="text"
                [(ngModel)]="post.warcraftLogsUrl" />
            </mz-input-container>
        </div>
        <button mz-button>
          <input type="submit">
        </button>
      </form>
    </mz-card-content>
  </mz-card>
</div>

