<div>
  <mz-parallax [height]="700">
    <div class="bg-box">
      <div class="bg-box-inner"></div>
    </div>
  </mz-parallax>
  <div class="container bd-content">
    <div *ngIf="post">
      <mz-card
        class="blue-grey darken-1 white-text"
        [hoverable]="true">
        <mz-card-image>
          <img [src]="post.imageUrl" />
          <a *ngIf="post.warcraftLogsUrl" [attr.href]="post?.warcraftLogsUrl" target="_blank">
            <button mz-button class="bd-float-button right">Fight Summary</button>
          </a>
        </mz-card-image>
      
        <mz-card-title>
          {{ post.title }} <span class="bd-progression-date">{{ post.date }}</span>
        </mz-card-title>
      
        <mz-card-content *ngIf="post?.note">
          {{ post.note }}
        </mz-card-content>
          
      </mz-card>
    </div>

    <div *ngIf="!post">
      <mz-card
        class="blue-grey darken-1 white-text"
        [hoverable]="true">
      
        <mz-card-title>
          No progression at all...
        </mz-card-title>
        
      </mz-card>
    </div>

    <div class="row">

      <div class="col s12 m6">
        <mz-card
          class="blue-grey darken-1 white-text"
          [hoverable]="true">
          <mz-card-title>
            News
          </mz-card-title>
          <mz-card-content>
            <div *ngIf="!newsLoading">
              <ul class="bd-guild-news">
                <div class="row bd-guild-news-item" *ngFor="let item of news">
                  <div class="col s10">
                    <li>
                      <a href="https://worldofwarcraft.com/en-us/character/kiljaeden/{{item.character}}" style="color: #ffb100">{{item.character}}</a>
                      <span *ngIf="item.type === 'playerAchievement'">
                        earned the achievement <a href="https://worldofwarcraft.com/en-us/character/kiljaeden/{{item.character}}/achievements" style="color: #ffb100">{{item.achievement.title}}</a>
                      </span>
                      <span *ngIf="item.type === 'itemLoot'"> obtained 
                        <a href="//www.wowhead.com/item={{item.itemId}}/bonus={{item.bonusLists | separateArray:':'}}" target="_blank">
                          {{item.itemName}}
                        </a>
                      </span>
                    </li>
                  </div>
                  <div class="col s2">
                    <span class="right" style="color: lightgray; font-size: 10px">{{item.timestamp | date: 'shortDate'}}</span>
                  </div>
                </div>
              </ul>
            </div>

            <div *ngIf="newsLoading">
              <mz-spinner
                class="center-align"
                [size]="'big'">
              </mz-spinner>
            </div>
          </mz-card-content>
        </mz-card>
      </div>

      <div class="col s12 m6">
        <mz-card
          class="blue-grey darken-1 white-text"
          [hoverable]="true">
          <mz-card-title>
            Member Spotlight
          </mz-card-title>
          <mz-card-content>
            <div *ngIf="!spotlightLoading" class="bd-member-spotlight">
              <div class="row valign-wrapper" style="margin: 0">
                <div class="col s3">
                  <img src="https://render-us.worldofwarcraft.com/character/{{spotlight.thumbnail}}" alt="User image" class="bd-member-thumbnail f{{spotlight.faction}} responsive-img">
                </div>
                <div class="col s9">
                  <div class="row valign-wrapper">
                    <img src="{{spotlight.classImage}}" style="width: 28px; height: 28px; margin-right: .5rem">
                    <span style="font-size: 18px">{{spotlight.character}}</span>
                  </div>
                  <div class="row">
                    {{spotlight.name}} - {{spotlight.quantity}}
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="spotlightLoading" class="center-align">
              <mz-spinner
                [size]="'big'">
              </mz-spinner>
            </div>
          </mz-card-content>
        </mz-card>
      </div>

    </div>
  </div>
</div>
