<div style="height: 10000px">
  <mz-parallax [height]="700">
    <div class="bg-box">
      <div class="bg-box-inner"></div>
    </div>
  </mz-parallax>
  <div class="container bd-content">
    <mz-card
      class="blue-grey darken-1 white-text"
      [hoverable]="true">
      <mz-card-image>
        <img src="assets/images/icecreamelemental.jpg" />
        <button mz-button class="bd-float-button right">Fight Summary</button>
      </mz-card-image>
  
      <mz-card-title>
        Most Recent Progression <span class="bd-progression-date">10/30/2018</span>
      </mz-card-title>
    </mz-card>

    <div class="row">

      <div class="col s12 m6">
        <mz-card
          class="blue-grey darken-1 white-text"
          [hoverable]="true">
          <mz-card-title>
            News
          </mz-card-title>
          <mz-card-content>
            <div *ngIf="!newsLoading">
              <ul class="bd-guild-news">
                <li *ngFor="let item of news" class="bd-guild-news-item">
                  <a href="https://worldofwarcraft.com/en-us/character/kiljaeden/{{item.character}}" style="color: #ffb100">{{item.character}}</a>
                  <span *ngIf="item.type === 'playerAchievement'">
                    earned the achievement <a href="https://worldofwarcraft.com/en-us/character/kiljaeden/{{item.character}}/achievements">{{item.achievement.title}}</a>
                  </span>
                  <span *ngIf="item.type === 'itemLoot'"> obtained 
                    <a href="//www.wowhead.com/item={{item.itemId}}/bonus={{item.bonusLists | separateArray:':'}}" target="_blank">
                      {{item.itemName}}
                    </a>
                  </span>
                  <span class="right" style="color: lightgray; font-size: 10px">{{item.timestamp | date: 'shortDate'}}</span>
                </li>
              </ul>
            </div>

            <div *ngIf="newsLoading">
              <mz-spinner
                class="center-align"
                [size]="'big'">
              </mz-spinner>
            </div>
          </mz-card-content>
        </mz-card>
      </div>

      <div class="col s12 m6">
        <mz-card
          class="blue-grey darken-1 white-text"
          [hoverable]="true">
          <mz-card-title>
            Member Spotlight
          </mz-card-title>
          <mz-card-content>
            <div *ngIf="!spotlightLoading">
              <div class="row">
                <div class="col s4">
                  <img src="https://render-us.worldofwarcraft.com/character/{{spotlight.thumbnail}}" alt="User image" class="img-fluid">
                </div>
                <div class="col s8">
                  <div class="row">
                    <img src="assets/images/demonhunter.png" style="width: 28px; height: 28px;">
                    {{spotlight.character}}
                  </div>
                  <div class="row">
                    {{spotlight.name}} - {{spotlight.quantity}}
                  </div>
                </div>
                </div>
            </div>

            <div *ngIf="spotlightLoading">
              <mz-spinner
                class="center-align"
                [size]="'big'">
              </mz-spinner>
            </div>
          </mz-card-content>
        </mz-card>
      </div>

    </div>


  </div>
</div>
