@import '~src/sass/variables';
@import '~src/sass/mixins';

.bg-box {
  position: absolute;
  height: 700px;
  top: 0px;
  width: 100%;
}

.bg-box-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-5deg);
  transform-origin: 0;
  position: absolute;
  top: 0;
  background-color: #28384a;
  background-image: url('../../../assets/images/malfurionguldan.jpg');
  opacity: 0.9;
  box-shadow: 0 0 10px 0px black;
  background-position: center top;
}

.bd-content {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);

  .bd-progression-date {
    font-size: .75rem;
    color: lightgray;
    vertical-align: middle;
  }

  .bd-float-button {
    position: absolute;
    bottom: -20px;
    right: 15px;
  }

  .bd-guild-news {
    &-item {
      padding: .5rem 0;
      border-bottom: 1px solid white;

      .q0 {
        color: $color-quality-poor;
      }

      .q1 {
        color: $color-quality-common;
      }

      .q2 {
        color: $color-quality-uncommon;
      }

      .q3 {
        color: $color-quality-rare;
      }

      .q4 {
        color: $color-quality-epic;
      }

      .q5 {
        color: $color-quality-legendary;
      }

      .q6 {
        color: $color-quality-artifact;
      }
    }
  }
}